body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;

  justify-content: center;
  background-color: aqua;
}

h1 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  gap: 20px;
  justify-content: center;
  background-color: #007bff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: pink;
}
